.c-chart 
  pos-rel()
  &__xAxis 
    +xsm()
      text
        font-size .6em

  &__graph 
    width 80vw
    height 70vh
  &__legend 
    p6()
    pos-rel()
    width 100%
    margin-top 40px
    g 
      blk()
    svg 
      pos-rel()
      width 100%
      top 20px
      +xlg()
        pos-abs()
        margin-left 9%
        height 90px
      +md-max()
        p6()
  
  input 
    width 80px
  
  &__bars 
    .c-chart 
      &__total 
        font-size .8em
        fill $col-grey
    text 
      font-size .55em
      fill white
      font-weight bold
    rect
      &:hover 
        cursor pointer

      &.is-active 
        stroke lime
        stroke-width 2px
    
    &.is-inactive 
      rect 
        opacity .2 
    
    &.is-active 
      rect 
        opacity  1