.c-chart 
  pos-rel()
  &__graph 
    width 80vw
    height 70vh
  &__legend 
    p6()
    pos-rel()
    width 100%
    margin-top 40px
    g 
      blk()
    svg 
      pos-abs()
      width 100%
      margin-left 9%
      height 90px
      top 20px
      +md-max()
        pos-rel()
        p6()
        margin-left 0
        height initial
  
  input 
    width 80px
  
  &__bars 
    .c-chart 
      &__total 
        font-size .8em
        fill $col-grey
    text 
      font-size .55em
      fill white
      font-weight bold
    rect
      &:hover 
        cursor pointer

      &.is-active 
        stroke lime
        stroke-width 2px
    
    &.is-inactive 
      rect 
        opacity .2 
    
    &.is-active 
      rect 
        opacity  1