.p1 {
  font-size: 1.5rem;
  line-height: 1.416666666666667;
}
.p2 {
  font-size: 1.32rem;
  line-height: 1.476190476190476;
}
.p3 {
  font-size: 1.13rem;
  line-height: 1.555555555555556;
}
.p4 {
  font-size: 1rem;
  line-height: 1.625;
}
.p5 {
  font-size: 0.88rem;
  line-height: 1.714285714285714;
}
.p6 {
  font-size: 0.75rem;
  line-height: 1.833333333333333;
}
.clear {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  line-height: 22px;
}
html,
body {
  height: 100%;
}
body {
  font-size: 0.88rem;
  line-height: 1.714285714285714;
  text-size-adjust: none;
  position: relative;
}
.c-card {
  position: relative;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
}
.c-card h1 {
  margin-bottom: 0;
}
.c-card h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.c-card.c-card--reverse {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}
.c-chart__graph {
  width: 80vw;
  height: 70vh;
}
.c-chart__legend {
  font-size: 0.75rem;
  line-height: 1.833333333333333;
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.c-chart__legend g {
  display: block;
}
.c-chart__legend svg {
  position: absolute;
  width: 100%;
  margin-left: 10%;
  height: 90px;
}
@media (max-width: 1024px) {
  .c-chart__legend svg {
    position: relative;
    font-size: 0.75rem;
    line-height: 1.833333333333333;
    margin-left: 0;
    height: initial;
  }
}
.c-chart__bar text {
  font-size: 0.55em;
  fill: #fff;
  font-weight: bold;
}
.c-chart__bar rect {
  opacity: 0.5;
}
.c-chart__bar rect:hover {
  cursor: pointer;
  opacity: 1;
}
.c-container {
  width: 90%;
  margin: auto;
}
